<main>
    <article>
        <h2>{{householdMember.firstname}} {{householdMember.name}} > Ausgaben-Kategorie anlegen / ändern</h2>
      <form>
        <fieldset>
          <legend>Ausgaben-Kategorie anlegen</legend>
          <div>
            <label for="name">Ausgaben-Kategorie Name: </label>
            <input type="text" id="name" name="name" pattern="[a-zA-ZÄÖÜäöüß\s]+" size="30" maxlength="30" placeholder="Kleidung" tabindex="1" required [(ngModel)]="expenditureCategory.name">
          </div>
          <div>
            <label for="upperLimit">Monatliches Limit in €: </label>
            <input type="text" id="upperLimit" name="upperLimit" pattern="^\d+(\.\d{1,2})?$" size="30" maxlength="30" placeholder="100" tabindex="2" required [(ngModel)]="expenditureCategory.upperLimit">
          </div>
          <div>
            <label for="household">Gehört zu welchem Haushalt: </label>
            <select id="household" #householdSelectId >
              <option *ngFor="let household of households" [value]="household.id">
                  {{household.id}} - {{household.name}}
              </option>
          </select>
          </div>
        </fieldset>
        <div>
            <input type="reset">
            <input type="submit" (click)="add(expenditureCategory, householdSelectId.value)">
        </div>
      </form>
    </article>
    <div>
      <article>
        <h2>Verteilung der Ausgaben im Monat {{monthYear}}</h2>
          <div *ngFor="let myHousehold of households">
            <h3>Haushalt > {{myHousehold.name}}</h3>
              <div class="diagram" [style.background]="getDiagramBackground(myHousehold.expenditureCategories)">
              </div>
          </div>
      </article>
      <article>
        <h2>Aktuelle Kategorien</h2>
         <div class="table-wrapper">
          <table>
              <thead>
                  <tr>
                      <th class="hide-mobile">Nr</th>
                      <th>Name</th>
                      <th>Monatslimit</th>
                      <th>Monatssumme</th>
                      <th>Haushalt</th>
                      <th>Aktionen</th>
                  </tr>
              </thead>
              <tbody *ngFor="let myHousehold of households">
                  <tr *ngFor="let myCategory of myHousehold.expenditureCategories">
                    <td class="hide-mobile">{{myCategory.id}}</td>
                    <td><span class="legend" [style.background]="getLegendColor(myCategory)"></span>{{myCategory.name}}</td>
                    <td class="text-center" [ngStyle]="{ color: Number(getCurrentMonth(myCategory.id)) > myCategory.upperLimit ? 'red' : 'black' }">{{myCategory.upperLimit}}€</td>
                    <td class="text-center" [ngStyle]="{ color: Number(getCurrentMonth(myCategory.id)) > myCategory.upperLimit ? 'red' : 'black' }">{{getCurrentMonth(myCategory.id)}}€</td>
                    <td>{{myHousehold.name}}</td>
                    <td>
                      <button type="button" class="update" title="Kategorie bearbeiten" (click)="editExpenditureCategory(myCategory)">Kategorie bearbeiten</button>
                        <button type="button" title="Kategorie löschen" (click)="deleteCategory(myCategory)">löschen</button>
                    </td>
                  </tr>
              </tbody>
          </table>
         </div>
      </article>
    </div>
  </main>
