/* You can add global styles to this file, and also import other style files */

/* ==================================== Universal Selektor ================================ */
* {
  box-sizing: border-box;
  /* globale Varialblen
  --bg-color_1: rgb(255, 210, 198);
  --bg-color_2: rgb(255, 226, 198);
  --bg-color_3: rgb(126, 155, 161);
  --bg-color_4: rgb(144, 185, 162);
  --bg-color_white: rgb(255, 255, 255);
  --txt-color_1: rgb(50, 10, 0);
  --txt-color_2: rgb(50, 25, 0);
  --txt-color_3: rgb(1, 30, 36);
  --txt-color_4: rgb(0, 39, 17);
  --txt-color_black: rgb(0, 0, 0);
  --Base_1: rgb(82, 17, 0);
  --Base_2: rgb(82, 40, 0);
  --Base_3: rgb(1, 42, 50);
  --Base_4: rgb(0, 58, 25);
  --Formular-Error: rgb(255, 0, 0);
  --Formular-Error-bg: rgb(255, 182, 182);
  --Formular-Valid: rgb(0, 255, 0);
  --Formular-Valid-bg: rgb(187, 255, 187);
  */
  --bg-color_1: rgb(255, 210, 198);
  --bg-color_2: rgb(230, 230, 230);
  --bg-color_3: rgb(126, 155, 161);
  --bg-color_4: rgb(123, 123, 123);
  --bg-color_white: rgb(255, 255, 255);
  --txt-color_1: rgb(50, 10, 0);
  --txt-color_2: rgb(50, 25, 0);
  --txt-color_3: rgb(1, 30, 36);
  --txt-color_4: rgb(0, 39, 17);
  --txt-color_black: rgb(0, 0, 0);
  --Base_1: rgb(204, 204, 204);
  --Base_2: rgb(82, 40, 0);
  --Base_3: rgb(1, 42, 50);
  --Base_4: rgb(0, 58, 25);
    --Formular-Error: rgb(255, 0, 0);
    --Formular-Error-bg: rgb(255, 182, 182);
    --Formular-Valid: rgb(0, 255, 0);
    --Formular-Valid-bg: rgb(187, 255, 187);
}

/* ------------------------------------ Wurzel - Eigenschaften ---------------------------- */
:root {
  font-family: arial, sans-serif;
	font-size: 1rem;
	line-height: 1.3;
  background-color: var(--Base_1);
  color: var(--txt-color_3);
}

/* ------------------------------------ Ueberschriften ------------------------------------ */
h1,
h2,
h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
  margin: auto;
  text-align: center;
  font-variant: small-caps;
  color: var(--txt-color_3);
  /* Zeilenumbruch */
  max-width: 100%;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

h2,
h3 {
  font-family: Arial;
  font-variant: normal;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  width: max-content;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1rem;
  margin-bottom: 0;
}

#top {
  font-size: 4vw;
  color: var(--bg-color_4);
}

/* ------------------------------------ Navigationsleiste als Flexbox in Flexbox --------------------- */
/* Flex-Container */
nav {
	position: sticky;
	top: 0;
  background-color: var(--Base_1);
  font-variant: small-caps;
  padding: 0.5%;
  font-size: 1.1rem;
  display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	z-index: 1;
}

/* Flex-Items + Flex-Container */
nav>ul {
  text-align: center;
  flex: 1 1 10em;
	display: flex;
	flex-flow: row wrap;
	justify-content:space-evenly;
	align-items: stretch;
	align-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 70rem;
}

/* Flex-Items */
nav li {
	margin: 1%;
	text-align: center;
  flex: 1 1 10em;
}

nav a {
  color: var(--bg-color_4);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
}

/* ------------------------------------ Artikel als Flexbox ------------------------------- */
/* Flex-Container */
main {
	display: flex;
  flex-flow: column wrap;
	align-items: center;
}

/* Flex-Items */
article {
  flex: 1 1 auto;
  background-color: var(--bg-color_2);
  margin: 1%;
  padding: 2%;
  border-radius: 15px;
  max-width: 75rem;
  min-width: 50rem;
  clear: both;
}

p {
  margin-left: 7%;
  margin-right: 7%;
  line-height: 175%;
}

/* Erster Artikel soll Abstand zur nav haben */
article:nth-of-type(1) {
  margin-top: 2rem;
}

a[href="#top"] {
  text-align: center;
}

/* ------------------------------------ Tabellen ------------------------------------------ */

table {
  border-spacing: 0;
  line-height: 200%;
  width: 100%
}

th,
td {
  border-collapse: collapse;
  border: none;
  padding-right: 0.5rem;
  border-bottom: 1px solid var(--txt-color_3);
}

/* ------------------------------------ Formulare ----------------------------------------- */
form {
  min-width: 30rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

fieldset > p {
  float: left;
  margin-right: 50px;
  text-align: left;
}

label {
  float: left;
  width: 50%;
  text-align: right;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

input {
  clear: both;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

input[type="checkbox"] {
  width:min-content;
}

select {
  clear: both;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

form input[type="reset"] {
  float: left;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

form input[type="submit"] {
  clear: both;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

/* Rueckmeldung */
form > p {
  text-align: center;
  font-size: 1.3rem;
  margin: 4% 0 0 0;
  padding: 0;
  max-width: 30rem;
  font-weight: bold;
}

/* JS-Messages*/
.message {
	text-align: right;
  color: var(--Formular-Error);
  margin-bottom: 2%;
}

input:invalid {
	border: 1px solid var(--Formular-Error);
	background: var(--Formular-Error-bg);
}

input:valid:not([type=submit]){
	border: 1px solid var(--Formular-Valid);
	background: var(--Formular-Valid-bg);
}

/* ------ Kreisdiagramm ------ */
/* https://www.mediaevent.de/css/conic-gradient.html
 https://www.w3schools.com/cssref/func_conic-gradient.php
 https://dev.to/madsstoumann/charts-in-css-1di1*/
.diagram {
  /*background: conic-gradient(
    red 0% 35%,
    green 35% 70%,
    yellow 70% 100%
  );*/
  border-radius: 50%;
  mask: radial-gradient(transparent 50%, black 51%);
  width: 200px;
  height: 200px;
  z-index: 2;
  margin-left: calc((100% - 200px) / 2);
  margin-top: 5%;
  margin-bottom: 10%;
}

.legend {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 15px;
}

main > div {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 3fr;
  column-gap: 1%;
  max-width: 75rem;
  min-width: 0;
}

main > div > article {
  margin: 0;
  min-width: 0;
  padding: 30px;
}

main > div > article:nth-of-type(1) {
  margin-top: 0;
  margin-right: 2%;
}

/* ------ Loading Animation ------ */
/* https://cssloaders.github.io/ */

.loading {
  width: 13px;
  height: 13px;
  margin-right: 3%;
  margin-left: 3%;
  border: 2px solid white;
  border-bottom-color: darkblue;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ------ Media-Querry fuer besonders schmale Displays ------ */
@media screen and (max-device-width: 480px) {

  /* --- Farbanpassung für bessere Lesbarkeit bei z.B. Mobilgeraeten im Hellen--- */
  :root {
    line-height: 1;
    color: var(--txt-color_black);
  }

  /* --- Layout auf Block umstellen, damit alle inhalte untereinander angezeigt werden --- */
  main,
  main > div {
    display: block;
  }

  article,
  main > div > article {
    margin: 0;
    max-width: 98%;
    min-width: 0;
    padding-bottom: 2rem;
    margin-bottom: 2%;
  }

  p {
    margin-left: 7%;
    margin-right: 7%;
    line-height: 1.5;
    text-align: justify;
  }

  /* --- Formulare anpassen --- */
  form {
    min-width: 100%;
  }

  fieldset {
    width: 100%;
  }

  fieldset > p {
    margin-right: 50px;
  }

  label {
    width: 50%;
    padding-top: 0.1rem;
    padding-right: 5%;
  }

  input {
    width: 50%;
    margin-bottom: 6%;
  }

  /* --- Tabellen anpassen --- */

  .hide-mobile {
    display: none;
  }

  .table-wrapper {
    overflow-x: auto;
  }

  th,
  td {
    text-align: left;
    overflow-wrap: break-word;
  }

  /* --- Layout auf Block umstellen, damit alle inhalte untereinander angezeigt werden --- */
  main {
    display: block;
  }

  /* --- Header-Schrift der Website statische groesse --- */
  #top {
    font-size: 2rem;
  }

    /* --- Artikel Ueberschriften erhalten eine statische Groesse --- */
  article h2 {
    color: var(--txt-color_black);
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  /* --- Navigationsleiste nicht mehr sticky --- */
  nav {
	  position: static;
  }

  /* --- groessenverhaeltnisse der Navigationsleiste anpassen --- */
  nav li {
    margin-top: 2rem;
  }

  nav a {
    font-size: 1rem;
  }

  /* --- Bilder-Groesse statisch --- */
  img {
    width: 35em;
  }

}
