<main>
    <article>
        <h2>{{householdMember.firstname}} {{householdMember.name}} > Ausgabe speichern</h2>
        <form>
            <fieldset>
              <legend>Ausgabe anlegen</legend>
              <div>
                <label for="date">Datum: </label>
                <input type="date" id="date" name="date" tabindex="1" required [(ngModel)]="expenditure.dateString">
              </div>
              <div>
                <label for="amount">Ausgabe in €: </label>
                <input type="text" id="amount" name="amount" pattern="^\d+(\.\d{1,2})?$" size="30" maxlength="30" placeholder="z.B. 12.50" tabindex="2" required [(ngModel)]="expenditure.amount">
              </div>
              <div>
                <label for="description">Beschreibung: </label>
                <input type="text" id="description" name="description" size="30" maxlength="30" placeholder="z.B. Parkticket" tabindex="3" required [(ngModel)]="expenditure.description">
              </div>
              <div>
                <label for="receiptCopy">Fotokopie hochladen: </label>
                <input [disabled]="selectedFileView !== null" type="file" id="receiptCopy" name="receiptCopy" accept="image/*" (change)="onFileSelected($event)">
              </div>
              <div>
                <label for="documentRecognizer">Fotokopie erstellen: </label>
                <button [disabled]="selectedFileView !== null" type="button" id="documentRecognizer" title="documentRecognizer" (click)="documentRecognizer(householdMember, expenditure)">Dokument erfassen</button>
              </div>
              <div>
                <label for="account">Auf Konto buchen * : </label>
                <select id="account" required (change)="updateExpenditureCategories()">
                  <option value="">0 - Bitte das zu belastende Konto wählen...</option>
                  <ng-container *ngFor="let account of accounts">
                    <option *ngIf="account" [value]="account.id" [selected]="selectedAccountId === account.id">
                        {{account.id}} - {{account.name}}
                    </option>
                  </ng-container>
                </select>
              </div>
              <div>
                <label for="expenditureCategory">Kategorie: </label>
                <select id="expenditureCategory">
                  <option value="">0 - Zuerst Konto wählen...</option>
                  <option *ngFor="let expenditureCategory of expenditureCategories" [value]="expenditureCategory.id" [selected]="selectedExpenditureCategoryId === expenditureCategory.id">
                      {{expenditureCategory.id}} - {{expenditureCategory.name}}
                  </option>
              </select>
              </div>
              <div>
                <label for="article">Artikel:</label>
                <div>
                  <ul>
                    <li *ngFor="let article of expenditure.article">
                      {{ article }}
                    </li>
                  </ul>
                </div>
              </div>
            </fieldset>
            <div>
                <input type="reset">
                <input type="submit" id="submit" (click)="add($event)">
            </div>
          </form>
    </article>
    <article *ngIf="selectedFileView">
      <div>
        <h2>Fotokopie</h2>
        <span>
            <img [src]="selectedFileView" alt="Receipt Image" />
        </span>
      </div>
      <div>
        <button type="button" title="documentRecognizer" (click)="removeDocument()">Fotokopie löschen</button>
      </div>
    </article>
    <article *ngFor="let receiptCopy of expenditure.receiptCopies">
      <div>
        <h2>Fotokopie > Nr.: {{receiptCopy.id}}</h2>
        <span>
          <img *ngIf="receiptImageUrls[receiptCopy.id]" [src]="receiptImageUrls[receiptCopy.id]" alt="Receipt Image" />
        </span>
        <div>
          <button type="button" class="button-right" title="Fotokopie löschen" (click)="deleteReceiptCopy(receiptCopy)">Fotokopie löschen</button>
        </div>
        <label for="ocr-textfield-{{receiptCopy.id}}" class="textfieldlabel">OCR-Ergebnis:</label>
        <div>
          <textarea id="ocr-textfield-{{receiptCopy.id}}" class="textfield" readonly>{{receiptCopy.translation}}</textarea>
        </div>
        <div>
          <button type="button" class="button-left" title="Inhalte aus Fotokopie auslesen" (click)="translateReceiptCopy(receiptCopy)"><span *ngIf="loadingTranslate" class="loading"></span> 1. Inhalte aus Fotokopie auslesen <span *ngIf="loadingTranslate" class="loading"></span></button>
        </div>
        <label for="categorie-textfield-{{receiptCopy.id}}" class="textfieldlabel">KI Kategorie-Vorschlag:</label>
        <div>
          <textarea id="categorie-textfield-{{receiptCopy.id}}" class="textfield" readonly></textarea>
        </div>
        <div>
          <button type="button" class="button-left" title="KI Kategorien generieren" (click)="categorizeReceiptCopy(receiptCopy)"><span *ngIf="loadingCategory" class="loading"></span> 2. KI Kategorien generieren <span *ngIf="loadingCategory" class="loading"></span></button>
        </div>
      </div>
    </article>
</main>
